div > *{
    border: 10px ridge pink;
    border-image-source: linear-gradient(90deg, pink 40%, purple 40%);
    border-image-repeat: space;
    border-image-width: 15px;
    border-image-slice: 50;
    border-image-outset: 0px;
}

div{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 150px);
    grid-template-areas: 
    "a a a"
    "a a a"
    "b b i"
    "c h i"
    "d f g"
    "e e e"
     ;
     gap: 22px;
}

aside:nth-of-type(5){
    grid-area: a;
}
aside:nth-of-type(1){
    grid-area: b;
}
aside:nth-of-type(4){
    grid-area: i;
}
aside:nth-of-type(2){
    grid-area:e;
}